.color-1 {
    background-color: #4a4a4a;
}
.color-2 {
    background-color: #000000;
}
header {
    background: #E5E5E5;
}
header h2 {
    color: #0A3871;
}
main {
    background-color: #E5E5E5;
}
#Copyright {
    color: #FFFFFF;
}

/* Botões */
#botaoCodificar {
    background-color: #0A3871; /* cor do botao */
    color: white;
}
#botaoCodificar:hover{
    background-color: white;
    color: #0A3871;
    border-color: #0A3871;
}
#botaoDescodificar {
    background-color: white;
    color: #0A3871;
    border-color: #0A3871;
}
#botaoDescodificar:hover {
    background-color: #0A3871;
    color: white;
}

/* Btoão Copiar e Limpar */
#copy {
    background-color: white;
    color: #0A3871;
    border-color: #0A3871;
}
#copy:hover {
    background-color: #0A3871;
    color: white;
}
#limpar {
    background-color: white;
    color: #0A3871;
    border-color: #0A3871;
}
#limpar:hover {
    background-color: #0A3871;
    color: white;
}

/* Caixa de Mensagem */
#mensagem {
    color: #0A3871;
    background-color: transparent;
}
#mensagem::placeholder {
    color: #194c8a;
}

/*================== Caixa de Resultado ======================*/

#text-resultado {
    background-color: #ffffff;
    color: #df5505;
}