/* BOTÕES */
#botaoCodificar {
    margin-left: 12%;
    width: 200px;
    padding: 20px 0;
    margin-top: 2%;

    background-color: #0A3871;
    color: white;
    font-family: 'Inter', Arial;
    font-style: normal;
    font-size: 22px;
    border-color: transparent;
    border-radius: 20px;
    transition: .2s background;
}

#botaoCodificar:hover{
    background-color: white;
    color: #0A3871;
    transform: scale(1.2);
    border-color: #0A3871;
}

#botaoDescodificar {
    margin-left: 5%;
    width: 200px;
    padding: 20px 0;
    margin-top: 2%;
    
    background-color: white;
    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-size: 22px;
    border-color: #0A3871;
    border-radius: 20px;
    transition: .2s background;
}

#botaoDescodificar:hover {
    background-color: #0A3871;
    color: white;
    transform: scale(1.2);
}

/* Btoão Copiar e Limpar */
#copy {
    margin-left: 15%;
    width: 130px;
    padding: 20px 0;

    background-color: white;
    color: #0A3871;
    font-family: 'Inter', Arial;
    font-style: normal;
    font-size: 18px;
    border-color: #0A3871;
    border-radius: 20px;
    transition: .2s background;
}

#copy:hover {
    background-color: #0A3871;
    color: white;
    transform: scale(1);
}

#limpar {
    margin-left: 3%;
    width: 130px;
    padding: 20px 0;

    background-color: white;
    color: #0A3871;
    font-family: 'Inter', Arial;
    font-style: normal;
    font-size: 18px;
    border-color: #0A3871;
    border-radius: 20px;
    transition: .2s background;
}

#limpar:hover {
    background-color: #0A3871;
    color: white;
    transform: scale(1);
}

.botao1 {
    width: 150%;
    margin: 0;
    height: 15vh;
}

/* Tamanho Tablet */
@media screen and (max-width: 1039px) {

    /*Botão de Copiar e Colar*/
    #botao2 {
        margin-top: 2%;
    }

    #copy {
        margin-left: 5%;
        width: 40%;
        padding: 20px 0;
        font-size: 40px;
    }
    
    #limpar {
        margin-left: 3%;
        width: 40%;
        padding: 20px 0;
        font-size: 40px;
    }

    /* Botão de Codificar e Descodificar */
    .botao1 {
        display: inline-block;
        width: 100%;
        margin-bottom: 8%;
        height: 10%;
    }
    #botaoCodificar {
        margin-left: 5%;
        width: 90%;
        padding: 50px 0;
        font-size: 40px;
    }
    
    #botaoDescodificar {
        margin-left: 5%;
        width: 90%;
        padding: 50px 0;
        font-size: 40px;
    }
}