.caixa textarea {
    display: inline-block;

    border-width: 2px;
    border-radius: 5%;
}

.box-mensagem {

    vertical-align: top;
    background-color: transparent;
    display: inline-block;

    padding-right: 15%;

    border-radius: 5%;

    margin-left: 5%;
    margin-top: 2%;
}

.box-resultado {
    display: inline-block;

    width: 28%;

    border-width: 2px;
    border-radius: 5%;

    margin-left: 10%;
}

/* Retira a linha da borda do textArea */
textarea:focus {
    outline: none;
    color: transparent;
}

#mensagem {
    font-family: 'Inter';
    font-size: 25px;
    color: #0A3871;

    background-color: transparent;
    width: 150%;

    padding-top: 3%;
    border: none; /*Retira o risco da borda*/
}
#mensagem::placeholder {
    color: #194c8a;
}

#text-resultado {
    margin-left: 3%;
    background-color: rgb(255, 255, 255);

    width: 90%;
    height: 80vh;

    border-radius: 32px;

    color: #df5505;
    font-family: 'inter';
    font-size: 20px;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border: none; /*Retira o risco da borda*/
}

#text-resultado::placeholder {
    background-image: url(../image/pesquisa.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 85%;

    padding: 60% 0;
}
/* Tamanho Tablet */
@media all and (max-width: 1039px) {
    
    /*Caixa Resultado*/
    .box-resultado {
        width: 90%;

        height: 5%;

        margin: 0;
    
        margin-left: 5%;
        margin-bottom: 2%;
    }
    #text-resultado {
        background-color: rgb(255, 255, 255);
    
        width: 90%;
        height: 5%;

        padding: 0;
    
        color: #df5505;
        font-family: 'inter';
        font-size: 20px;
    }
    
    #text-resultado::placeholder {
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 85%;
    
        padding: 0;
    }

    /* Caixa de Mensagem*/
    .box-mensagem {
        background-color: transparent;

        margin-bottom: 5%;
        
        display: inline-block;

        vertical-align: top;
    
        border-width: 2px;
        border-radius: 5%;
    
        width: 90%;
        padding-right: 0;
    }
    #mensagem {
        font-size: 25px;
    
        background-color: transparent;
        width: 100%;
    }
}