header {
    background: #E5E5E5;
    padding: 20px 0;
}

.banner {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

/* CORPO PRINCIPAL */
main {
    background-color: #E5E5E5;
}

/*Final da Página*/
footer {
    text-align: center;
    background: url("../image/bg.jpg");
    padding: 40px 0;
}

#Copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}
.botao1 img {
    float: left;
    margin-right: 1%;
    margin-left: 12%;
}
@media screen and (max-width: 1039px)  {

    .botao1 img {
        width: 40px;
        margin-right: 1%;
        margin-left: 5%;
    }
    .botao1 p {
        margin-top: 1%;
        font-size: 30px;
    }
}