header {
    background: #E5E5E5;
    padding: 20px 0;
}

.banner {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

/* CORPO PRINCIPAL */
main {
    background-color: #E5E5E5;
}

/*Final da Página*/
footer {
    text-align: center;
    background: url("../image/bg.jpg");
    padding: 40px 0;
}

#Copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

/* Tamanho Tablet */
@media (min-width: 771px) and (max-width: 1039px) {

}
/* Tamanho Celular */
@media (max-width: 771px) {

}